:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  text-decoration: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2000px;
}

/* Navbar umum*/

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 255;
}

/* Pemberian Warna pada Navbar homepage */

.Navbar .Navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

/* Membagi warna navbar homepage menjadi putih dan coklat */

.Navbar .Navbar-logo span {
  color: var(--primary);
}

/* pemberian warna pada navbar section */

.Navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1.2rem;
}

.Navbar .navbar-nav a:hover {
  color: var(--primary);
}

.Navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.5s ease;
}

.Navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.Navbar .navbar-mark a {
  color: rgb(206, 220, 238);
  margin: 0 0.5rem;
}

.Navbar .navbar-mark a:hover {
  color: var(--primary);
}

#Sidebar {
  display: none;
}

/* Navbar search Button */

.Navbar .search-form {
  position: absolute;
  top: 100%;
  right: 8%;
  background-color: white;
  width: 25rem;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
  /* display: block; */
}

.Navbar .search-form.active {
  transform: scaleY(1);
}

.Navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: medium;
  color: var(--bg);
  font-family: Poppins;
}

.Navbar .search-form label {
  cursor: pointer;
  /* font-size: 2rem; */
  /* margin-right: 1.5rem; */
  color: var(--bg);
  background: white;
  display: flex;
}

/* Shopping cart READY */
#Shopping-cart-button {
  position: relative;
}

#Shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 1.5rem;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 35rem;
  height: 100vh;
  padding: 0 1.5rem;
  padding-bottom: 3rem;
  color: var(--bg);
  background-color: #fff;
  transition: 0.5s;
  overflow: scroll;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-items {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 5rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.3rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-items #add,
.shopping-cart .cart-items #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: var(--bg);
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.shopping-cart h4 {
  font-size: 1.5rem;
  text-align: center;
}

/* Form Checkout READY */

.form-checkout {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed var(--bg);
  padding: 1rem;
}

.form-checkout h5 {
  text-align: center;
  font-size: 1rem;
}

.form-checkout form {
  width: 100%;
  text-align: center;
}

.form-checkout label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-checkout span {
  text-align: right;
}

.form-checkout input {
  background-color: #b7b5b3;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}
.form-checkout select {
  background-color: #b7b5b3;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-checkout .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.form-checkout .checkout-button.disabled {
  background-color: #666;
  cursor: not-allowed;
}

/* Form Checkout END */

/* Shopping cart END */

/* Hero Section READY */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/try-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 7%,
    rgba(255, 255, 255, 0) 52.5%
  );
} */

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 60%; */
  width: 100%;
  text-align: center;
  position: fixed;
  top: 120px;
}

.hero .content h3 {
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 4);
}

.hero .content span {
  color: #f6d574e1;
}

.hero .content p {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  line-height: 1.4rem;
  font-style: oblique;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 4);
}

.hero .content .cta {
  color: #fff;
  background-color: var(--primary);
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 4);
}

/* Hero Section END */

/* About Section READY */
.about,
.menu,
.products,
.contact {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #fff;
}

.about span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.6rem;
  text-align: justify;
}

/* About Section END */

/* Menu Section READY */

.menu p,
.contact p {
  text-align: center;
  margin: auto;
  max-width: 30rem;
  font-weight: 200;
  line-height: 1.6rem;
}

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
  margin: 2rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 50;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}
/* Menu Section END */

/* Product Section READY */

.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products p {
  text-align: center;
}

.products .product-card {
  text-align: center;
  border: solid #afa9a9;
  border-width: 1px;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
  margin: 0.5rem;
  border: solid #afa9a9;
  border-width: 1px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.products .product-icons a:hover {
  background-color: var(--primary);
  border: solid var(--primary);
  border: 1px;
}

.products .product-images {
  padding: 1rem;
}

.products .product-images img {
  height: 15rem;
}

.products .product-content h3 {
  font-size: 1.5rem;
}

.products .product-stars {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.products .product-content .star-full {
  fill: var(--primary);
  color: var(--primary);
}

/* Hover Pop up stars */

/* .products .product-content .product-ingredients {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s, top 0.3s;
} */

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Contact Section READY */

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
  border-radius: 1.5rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  padding: 1rem 3rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 1.5rem;
}
/* Contact Section END */

/* Footer */

footer {
  background-color: var(--primary);
  margin-top: 3rem;
  padding: 1rem 0;
  text-align: center;
}
footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--bg);
  margin: 1rem;
}

footer .socials a:hover {
  color: #eee;
}

footer .links a {
  color: #fff;
  margin: 1rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
/* Footer END */

/* Modal Content READY */
/* Item Detail */

.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: relative;
  background-color: #e0e3dc;
  color: var(--bg);
  padding: 1rem;
  margin: 10.5% auto;
  border: solid #666;
  border-width: 1px;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animation */

@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-container img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 0.5rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  justify-content: center;
}

/* Modal Content END */

/* Respnsive tablet */

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #Sidebar {
    display: inline-block;
  }

  .Navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .Navbar .navbar-nav.active {
    right: 0;
  }
  .Navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.25rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .Navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .Navbar .navbar-nav a:hover::after {
    transform: scaleX(0.25);
  }

  .Navbar .search-form {
    width: 90%;
    right: 2rem;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
  .products p {
    text-align: center;
  }
  .modal-content {
    flex-wrap: wrap;
  }
}

/* Responsive Smartphone */

@media (max-width: 450px) {
  html {
    font-size: 52.5%;
  }
}
